#topBar {
	margin-bottom: 10px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    background-color: #032F88;
    color: black;
    border: 0;
    text-align: center;
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;
}
body {
	color: #0C62BE;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
	background-image: linear-gradient(to left, rgba(14,66,107,1) 25%, rgba(17,14,107,1) 75%);
}
#Body {
	width: 100%;
    padding-right: 0px;
    text-align: center;
    font-size: 20;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
button {
	border-radius: 12px;
	background-color: darkblue;
	font-size: 32px;
	display: inline-block;
	border: none;
}
.NavBar {
	left: 0;
	top: 80px;
	z-index: 1;
	position: fixed;
    background-color: #1A158A;
    display: block;
    width: 11%;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
	padding-top: 20px;
	overflow-x: hidden;
}
.link {
	border-radius: 20px;
	margin-right: 1px;
	margin-top: 10px;
	border-color: #680102;
	border-style: solid;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 5px;
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 25px;
    color: #DB0D10;
    display: block;
}
